<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="webAppUrl" value="{PRODUCTION_WEB_APP_URL}" />
		<Parameter name="apiBaseUrl" value="{PRODUCTION_API_BASE_URL}" />
		<Parameter name="defaultTimeout" value="30000" />
		<Parameter name="screenshotContext" value="Production" />
	</TestRunParameters>
	 <RunConfiguration>
	   <MaxCpuCount>1</MaxCpuCount>
	   <EnvironmentVariables>
	     <PWDEBUG>0</PWDEBUG>
	   </EnvironmentVariables>
	 </RunConfiguration>
	 <NUnit>
	   <NumberOfTestWorkers>1</NumberOfTestWorkers>
	 </NUnit>
</RunSettings>
