name: yofi-v3
services:
  frontend:
    image: ${REGISTRY_PREFIX:-}yofi-v3-frontend
    build:
      context: ../src/FrontEnd.Nuxt
      dockerfile: ./docker/Dockerfile
      args:
          # Set the API base URL for the frontend to point to the backend service, from the
          # perspective of JS code running in user's browser, *not* from the perspective of
          # within the container.
        - NUXT_PUBLIC_API_BASE_URL=http://localhost:5001
        - NUXT_PUBLIC_SOLUTION_VERSION=${SOLUTION_VERSION:-'docker-compose'}
        - NUXT_PUBLIC_APPLICATION_INSIGHTS_CONNECTION_STRING=${APPLICATIONINSIGHTS_CONNECTION_STRING:-}
    restart: always
    ports:
      - '5000:80'
    depends_on:
      backend:
        condition: service_healthy
  backend:
    image: ${REGISTRY_PREFIX:-}yofi-v3-backend
    build:
      context: ..
      dockerfile: ./docker/BackEnd.dockerfile
      args:
        - SOLUTION_VERSION=${SOLUTION_VERSION:-'docker-compose'}
    environment:
      - APPLICATION__ENVIRONMENT=Container
      - APPLICATION__ALLOWEDCORSORIGINS__0=http://localhost:5000
      - APPLICATION_INSIGHTS_CONNECTION_STRING=${APPLICATIONINSIGHTS_CONNECTION_STRING:-}
      - JWT__ISSUER=${JWT_ISSUER:-http://localhost:5001}
      - JWT__AUDIENCE=${JWT_AUDIENCE:-http://localhost:5001}
      # Warning: This key is for development / testing purposes only. Do not use in production!
      - JWT__KEY=${JWT_KEY:-YeO9WbjMjlalrCq5CpJEdBPFMevqfN4UtczfTtEmL14=}
      - JWT__LIFESPAN=${JWT_LIFESPAN:-00:10:00}
      - LOGGING__LOGLEVEL__YOFI=Debug
    restart: always
    ports:
      - '5001:8080'
