name: yofi-ci
services:
  frontend:
    image: yofi-v3-frontend
    build:
      context: ../src/FrontEnd.Nuxt
      dockerfile: ./docker/Dockerfile
      args:
          # Set the API base URL for the frontend to point to the backend service, from the
          # perspective of JS code running in user's browser, *not* from the perspective of
          # within the container.
        - NUXT_PUBLIC_API_BASE_URL=http://localhost:5001
    restart: always
    ports:
      - '5000:80'
    depends_on:
      backend:
        condition: service_healthy
  backend:
    image: yofi-v3-backend
    build:
      context: ..
      dockerfile: ./docker/BackEnd.dockerfile
    restart: always
    ports:
      - '5001:8080'
