{{#Usings}}
using {{.}};
{{/Usings}}

namespace {{Namespace}};

/// <summary>
/// {{FeatureDescription}}
/// </summary>
/// <remarks>
{{#DescriptionLines}}
/// {{.}}
{{/DescriptionLines}}
/// </remarks>
public partial class {{FeatureName}}Feature_Tests : {{BaseClass}}
{
    #region Step class references

    {{#Classes}}
    protected {{.}} {{.}} => _the{{.}} ??= new(this);
    private {{.}}? _the{{.}};

    {{/Classes}}
    #endregion

    {{#Background}}
    [SetUp]
    public async Task SetupAsync()
    {
        {{#Steps}}
        // {{Keyword}} {{Text}}
        {{#DataTable}}
        var {{VariableName}} = new DataTable(
            [{{#Headers}}"{{.}}"{{^Last}}, {{/Last}}{{/Headers}}],
        {{#Rows}}
            [{{#Cells}}"{{.}}"{{^Last}}, {{/Last}}{{/Cells}}]{{^Last}},{{/Last}}
        {{/Rows}}
        );
        {{/DataTable}}
        await {{Owner}}.{{Method}}({{#Arguments}}{{{.}}}{{^Last}}, {{/Last}}{{/Arguments}});

        {{/Steps}}
    }

    {{/Background}}
    {{#Rules}}
    #region Rule: {{Name}}
    // {{Description}}

    {{#Scenarios}}
    /// <summary>
    /// {{Name}}
    /// </summary>
    {{#Remarks}}
    /// <remarks>
    {{#Lines}}
    /// {{.}}
    {{/Lines}}
    /// </remarks>
    {{/Remarks}}
    {{#ExplicitTag}}
    [Explicit]
    {{/ExplicitTag}}
    {{#TestCases}}
    [TestCase({{{.}}})]
    {{/TestCases}}
    [Test]
    public async Task {{Method}}({{#Parameters}}{{Type}} {{Name}}{{^Last}}, {{/Last}}{{/Parameters}})
    {
        {{#Steps}}
        // {{Keyword}} {{Text}}
        {{#DataTable}}
        var {{VariableName}} = new DataTable(
            [{{#Headers}}"{{.}}"{{^Last}}, {{/Last}}{{/Headers}}],
        {{#Rows}}
            [{{#Cells}}"{{.}}"{{^Last}}, {{/Last}}{{/Cells}}]{{^Last}},{{/Last}}
        {{/Rows}}
        );
        {{/DataTable}}
        await {{Owner}}.{{Method}}({{#Arguments}}{{{.}}}{{^Last}}, {{/Last}}{{/Arguments}});

        {{/Steps}}
    }

    {{/Scenarios}}

    #endregion
    {{/Rules}}

    #region Unimplemented Steps
    {{#Unimplemented}}
    /// <summary>
    /// {{Keyword}} {{Text}}
    /// </summary>
    async Task {{Method}}({{#Parameters}}{{Type}} {{Name}}{{^Last}}, {{/Last}}{{/Parameters}})
    {
        throw new NotImplementedException();
    }

    {{/Unimplemented}}
    #endregion
}
