#
# Docker Compose Build Step
#
# Required variables
# - dockerRegistryEndpoint: Service connection to the Docker registry
#

steps:
  - task: DockerCompose@1
    displayName: 'Build Docker images with docker-compose'
    inputs:
      dockerComposeFile: 'docker/docker-compose-ci.yml'
      action: 'Build services'
      dockerRegistryEndpoint: '$(dockerRegistryEndpoint)'
      containerregistrytype: 'Container Registry'
      includeLatestTag: true
      additionalImageTags: $(Solution.Version)
      qualifyImageNames: true
