#
# Docker Compose Build Step
#
# Required variables
# - dockerRegistryEndpoint: Service connection to the Docker registry
# - dockerUserName: Registry organization/user prefix
#

steps:
  - task: DockerCompose@1
    displayName: 'Run Docker compose project'
    inputs:
      dockerComposeFile: 'docker/docker-compose-ci.yml'
      action: 'Run services'
      projectName: 'yofi-v3'
      detached: true
      includeLatestTag: true
      additionalImageTags: $(Solution.Version)
      dockerComposeFileArgs: |
        REGISTRY_PREFIX=$(dockerUserName)/