<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- Include assemblies -->
          <Include>[YoFi.V3.Application]*,[YoFi.V3.Entities]*</Include>
          <!-- Exclude specific types we don't want to measure -->
          <Exclude>[*.Tests]*,[YoFi.V3.Application]YoFi.V3.Application.ServiceCollectionExtensions,[YoFi.V3.Entities]YoFi.V3.Entities.Options.ApplicationOptions,[*]*Program,[*]*.Designer,[*]*.g.cs</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
