name: Build

on:
  push:
    branches: [ main ]

env:
  SOLUTION_VERSION: 'github-${{ github.sha }}'

jobs:
  build:

    # TODO: Reconsider using windows-latest, why not ubuntu-latest?
    runs-on: windows-latest

    steps:
    - name: Checkout repository with submodules
      uses: actions/checkout@v6
      with:
        submodules: true
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run Unit Tests
      run: dotnet test ./tests/Unit --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: Run Data Integration Tests
      run: dotnet test ./tests/Integration.Data --no-build --verbosity normal
    - name: Run Controller Integration Tests
      run: dotnet test ./tests/Integration.Controller --no-build --verbosity normal
