name: Build

on:
  push:
    branches: [ main ]

env:
  SOLUTION_VERSION: 'github-${{ github.sha }}'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout repository with submodules
      uses: actions/checkout@v6
      with:
        submodules: true
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run Unit Tests
      run: dotnet test ./tests/Unit --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: Run Integration Tests
      run: dotnet test ./tests/Integration.Data --no-build --verbosity normal --collect:"XPlat Code Coverage"
