name: Pull Request

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run Unit Tests
      run: dotnet test ./tests/Unit --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: Run Integration Tests
      run: dotnet test ./tests/Integration.Data --no-build --verbosity normal --collect:"XPlat Code Coverage"